/* weather.css */
.weather-container {
    text-align: center;
    margin-top: 20px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

/* 3일간의 날씨 예보 스타일 */
.forecast-weather {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
    margin-top: 20px;
}

.forecast-weather ul {
    list-style: none;
    padding: 0;
}

.forecast-weather li {
    display: block; /* 한 줄씩 세로 정렬 */
    padding: 15px;
    border-bottom: 1px solid #ddd; /* 구분선 추가 */
    text-align: center;
}

.forecast-weather p {
    margin: 5px 0;
}