<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 등록</title>
</head>
<body>
    <h1>사용자 등록</h1>
    <form th:action="@{/user/create}" th:object="${user}" method="post">
        <label for="name">이름:</label>
        <input type="text" id="name" th:field="*{name}" /><br><br>
        
        <label for="email">이메일:</label>
        <input type="email" id="email" th:field="*{email}" /><br><br>
        
        <button type="submit">등록</button>
    </form>
</body>
</html>