<!-- Weather Fragment -->
<div th:fragment="weather" class="weather-container">
    <h2>本日の天気 地域： <span th:text="${city}">City</span> <span th:text="${region}"></span></h2>
    
    <div class="d-flex justify-content-center">
        <img th:src="'https://openweathermap.org/img/wn/' + ${weatherIcon} + '.png'" class="weather-icon" alt="Weather Icon">
    </div>
        <h2 class="text-center">3日間の天気予報</h2>
        <ul>
            <li th:each="weather : ${weatherInfo}" th:text="${weather}"></li>
        </ul>
</div>
